<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

        .vid{
            /* margin-left: 25%; */
            margin-top: 5%;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }
        .body{
            background-color: whitesmoke;
        }
        
    </style>

</head>
<body>
    <div class="vid">
        <h1>File Dubbed Successfully!</h1>
        <iframe width="800" height="500" src="./static/files/results/resultVid.mp4"></iframe>
        <p><b>Time taken: </b>{{time}} seconds</p>
        <p><b>Confidence: </b>{{conf}} %</p>
    </div>
</body>
</html>